In [1]:
pip install pandas

Requirement already satisfied: pandas in c:\users\admin\.conda\envs\sri\lib\site-packages (1.5.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\admin\.conda\envs\sri\lib\site-packages (from pandas) (2022.6)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\admin\.conda\envs\sri\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.21.0 in c:\users\admin\.conda\envs\sri\lib\site-packages (from pandas) (1.23.5)
Requirement already satisfied: six>=1.5 in c:\users\admin\.conda\envs\sri\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [6]:
import pandas as shri

In [7]:
shri.__version__

'1.3.4'

In [8]:
a1=shri.Series(['one',1,2,3,4,],index=[0,1,2,3,5])

In [9]:
print(a1)

0    one
1      1
2      2
3      3
5      4
dtype: object

In [10]:
season={"rainy":{1:'nov',2:'dec',3:'jan',4:'feb'},"dry":{1:'mar',2:'apr',3:'may',4:'jun'}}

In [11]:
d=shri.DataFrame(season,columns=["rainy","dry"])

In [12]:
d

  rainy  dry
1   nov  mar
2   dec  apr
3   jan  may
4   feb  jun

In [13]:
month={"birthm":{1:'mar',2:'may',3:'june',4:'oct'},"name":{1:'dinu',2:'jaya',3:'aafi',4:'sri'}}

In [14]:
g=shri.DataFrame(month,columns=["birthm","name"])

In [15]:
g

  birthm  name
1    mar  dinu
2    may  jaya
3   june  aafi
4    oct   sri

NameError: name 'pd' is not defined

In [17]:
import numpy as sri

In [18]:
a=sri.DataFrame(np.random.randint(0,300,size=(20,4)),columns=list(('abcd')))

AttributeError: module 'numpy' has no attribute 'DataFrame'

In [19]:
sri.__version__

'1.20.3'

In [32]:
a=shri.DataFrame(sri.random.randint(0,300,size=(20,4)),columns=list(('abcd')))

In [29]:
print(a)

      a    b    c    d
0    11   55  220  135
1    81  270  147   23
2    68  185  111  210
3   100   57  102   94
4    28  291  177  187
5   160   42  199  184
6   173  137  171  183
7    28   80  135  191
8    14   39  296  196
9   299  196   31    9
10  254  275  153   92
11   21   63  222  114
12  140  102  265  155
13   66   65  183  233
14  107  295  221   86
15  282  141  296   82
16  251  222   36  157
17  156   86  128  143
18  217  102  190    1
19    7  155  230   88

In [60]:
a.to_csv("D:\jayas.csv")

In [61]:
a.to_csv("D:/sri/.csv")

In [62]:
d=shri.read_csv("D:/sri/.csv")

In [54]:
print(d)

    Unnamed: 0    a    b    c    d
0            0  155    4  175  290
1            1  231  194  215  198
2            2  229  182  135  296
3            3  233   61  269  219
4            4   18  102   28  199
5            5  110  285  246  150
6            6  289  157  185    7
7            7  288  232  252  236
8            8  194  274  133  247
9            9  230  163  188   78
10          10  277  268  190  297
11          11  139  212  230  241
12          12  257  261  147  250
13          13  162  152  298  190
14          14  237  133  272  134
15          15  148   47  278  190
16          16  195  293    4   27
17          17  170  221  216  287
18          18   30   84  115  128
19          19   12  179  224  295

In [65]:
d.drop("Unnamed: 0",axis=1)

      a    b    c    d
0   155    4  175  290
1   231  194  215  198
2   229  182  135  296
3   233   61  269  219
4    18  102   28  199
5   110  285  246  150
6   289  157  185    7
7   288  232  252  236
8   194  274  133  247
9   230  163  188   78
10  277  268  190  297
11  139  212  230  241
12  257  261  147  250
13  162  152  298  190
14  237  133  272  134
15  148   47  278  190
16  195  293    4   27
17  170  221  216  287
18   30   84  115  128
19   12  179  224  295

In [66]:
d.shape

(20, 5)

In [67]:
d.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  20 non-null     int64
 1   a           20 non-null     int64
 2   b           20 non-null     int64
 3   c           20 non-null     int64
 4   d           20 non-null     int64
dtypes: int64(5)
memory usage: 928.0 bytes